.projects {
  width: 100%;
  padding: 60px 20px;
}

.projects-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.projects p {
  margin: 0;
  padding: 0;
}

.projects-search {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #282c31;
  background-color: #0d1117;
  height: 32px;
  border-radius: 4px;
  color: #ffffff;
  padding-left: 36px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: top 8.5px left 12px;
  background-image: url("../../assets/img/projects-search.svg");
}

.projects-search::placeholder {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #6e7681;
}

.projects-btn {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #238636;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #238636;
  color: #e1e1e1;
  text-decoration: none;
  flex-shrink: 0;
  transition-duration: 0.3s;
}

.projects-btn:hover {
  background-color: #2fac48fb;
  color: #e1e1e1;
}

.projects-block {
  border: 1px solid #282c31;
  border-radius: 6px;
}

.projects-item-head {
  border: 1px solid #282c31;
  background-color: #161b22;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-op-cl {
  display: flex;
  align-items: center;
  gap: 16px;
}

.projects-sort {
  color: #6e7681;
}
.projects-sort:hover {
  color: #8e98a5;
  cursor: pointer;
}

.projects-open {
  color: #8e98a5;
  transition-duration: 0.15s;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 24px;
  background-position: center left;
  background-image: url("../../assets/img/header-projects.svg");
}

.projects-close {
  color: #6e7681;
  transition-duration: 0.15s;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 24px;
  background-position: center left;
  background-image: url("../../assets/img/projects-close.svg");
}

.projects-item-title {
  font-size: 15px;
  color: #8e98a5;
  text-decoration: none;
  transition-duration: 0.15s;
  font-weight: 500;
  background-size: 18px 18px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
  background-image: url("../../assets/img/header-projects.svg");
}

.projects-item {
  padding: 16px;
  border: 1px solid #282c31;
  border-bottom: 1px solid transparent;
}

.projects-item-title:hover {
  text-decoration: underline;
}

.projects-item span {
  margin-left: 6px;
  font-size: 13px;
  text-align: center;
  padding: 1px 6px;
  border: 1px solid #282c31;
  border-radius: 16px;
  color: #6e7681;
}

.projects-update {
  color: #6e7681;
  font-size: 12px;
  margin-top: 5px;
}